#contenedor{
    background-color: #F5FF90;
    height: 750px;
    width: 850px;
}
#menu{
    background-color: #D6FFB7;
    height: 750px;
    width: 295px;
    display: inline-block;
    vertical-align: top ;
}
#contenido{
    background-color: #FF9F1C;
    height: 750px;
    width: 550px;
    display: inline-block;
}
#perfil{
    background-color: blanchedalmond;
    height: 250px;
    width: 295px;
}
#opciones{
    background-color: brown;
    height: 400px;
    width: 295px;
}
#configuracion{
    background-color: cadetblue;
    height: 100px;
    width: 295px;
}
#avatar{
    background-color: chocolate;
    width: 120px;
    height: 120px;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    position: relative;
    top:25%;
}
#info-usuario{
    background-color: darkgray;
    width: 145px;
    height: 240px;
    display: inline-block;
    vertical-align: top;
}
.opcion{
    height: 70px;
    text-align: center;
    border: 1px solid black;
}
.fila{
    background-color: black;
    width: 98%;
    height: 181px;
    margin-top: 5px;
}
.separadores{
    width: 49%;
    height: 181px;
    background-color: cornflowerblue;
    display: inline-block;
    vertical-align: top;
}
.separadores h4{
    text-align: right;
}

.columna{
    width: 28%;
    height: 100%;
    background-color: #a06b6b;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
.columna h5, .columna h6, .columna p{
    margin: 0;
}
.foto{
    width: 50px;
    height: 50px;
    background-color: deeppink;
    border-radius: 50%;
}
.mitad-columna{
    width: 13%;
    height: 100%;
    background-color: #a06b6b;
    display: inline-block;
    margin: 0;
}
.mitad-columna-foto{
    margin: 0 auto;
    width: 90%;
    height: 10%;
    margin-top: 20px;
    background-color: floralwhite;
    border-radius: 10% ;
}
